Source: ttf-simfang
Section: admin
Priority: optional
Maintainer: Wang Mingdong <wangmingdong@linuxdeepin.com>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.2
Homepage: http://www.linuxdeepin.com
Vcs-Browser: http://github.com/21wmd/ttf-simfang
Vcs-Git: git://github.com/21wmd/ttf-simfang

Package: ttf-simfang
Architecture: all
Depends: ${misc:Depends}
Description: Typeface for simfang
 Linux Deepin make this simfang packages.
